<a href="https://colab.research.google.com/github/minyeongChoi/py-16/blob/master/Homework/Summary_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Summary of datatypes in Python

- list
- dictonarry
- Tuple
- set
- string

### 리스트 생성 및 항목추가

In [0]:
a = [10, 20, 30, 40, 50]

In [0]:
# 0, 1, 2,... 인덱스는 리스트 처음부터 시작
#-1, -2, ... 인덱스는 이스트 마지막부터 시작
print("a[0] ==",  a[0], ", a[2] ==", a[2], ", a[4] ==", a[4])
print("a[-1] ==", a[-1],  ", a[-2] ==", a[-2],  ", a[-5] ==", a[-5])

a[0] == 10 , a[2] == 30 , a[4] == 50
a[-1] == 50 , a[-2] == 40 , a[-5] == 10

In [0]:
b = [ 10,20, "Hello",[True, 3.14] ]

In [0]:
# b[3] 또는 b[-1] 값은 [True, 3.14] 리스트 전체임

print("b[0] ==", b[0], ". b[2] ==", b[2], ", b[3] ==", b[3])
print("b[-1] ==", b[-1], ". b[-2] ==", b[-2], ", b[-4] ==", b[-4])

b[0] == 10 . b[2] == Hello , b[3] == [True, 3.14]
b[-1] == [True, 3.14] . b[-2] == Hello , b[-4] == 10

In [0]:
print("b[3][0] ==", b[3][0], ", b[3][1] ==", b[3][1])
print("b[-1][-1] ==", b[-1][-1], ", b[-1][-2] ==",b[-1][-2])

b[3][0] == True , b[3][1] == 3.14
b[-1][-1] == 3.14 , b[-1][-2] == True

In [0]:
b[-2][-2]

'l'

In [0]:
print("a[0:2] ==", a[0:2], ", a[1:] ==",a[1:])
print("a[:3] ==", a[:3], ", a[:-2] ==",a[:-2])
print("a[:] ==", a[:])

a[0:2] == [10, 20] , a[1:] == [20, 30, 40, 50]
a[:3] == [10, 20, 30] , a[:-2] == [10, 20, 30]
a[:] == [10, 20, 30, 40, 50]

### 튜플

In [0]:
a = ( 10, 20, 30, 40, 50 )

In [0]:
print("a[0] ==", a[0], ", a[-2] ==", a[-2], ", a[:] ==", a[:])
print("a[0:2] ==", a[0:2], ", a[1:] ==", a[1:])

a[0] == 10 , a[-2] == 40 , a[:] == (10, 20, 30, 40, 50)
a[0:2] == (10, 20) , a[1:] == (20, 30, 40, 50)

In [0]:
a[0] = 100

TypeError: ignored

### dictionary

In [0]:
score = { "KIM":90, "LEE":85, "JUN":95}

In [0]:
print("score['KIM'] ==", score['KIM'])

score['KIM'] == 90

In [0]:
score['HAN'] = 100 # 새 원소 추가

# 딕셔너리는 입력한 순서대로 데이터가 들어가는 것이 아니므로 주의해야함

print(score)

{'KIM': 90, 'LEE': 85, 'JUN': 95, 'HAN': 100}

In [0]:
# 딕셔너리 key , value, (key, value)

print("score ket ==",score.keys())
print("score value ==",score.values())
print("score items ==",score.items())

score ket == dict_keys(['KIM', 'LEE', 'JUN', 'HAN'])
score value == dict_values([90, 85, 95, 100])
score items == dict_items([('KIM', 90), ('LEE', 85), ('JUN', 95), ('HAN', 100)])

### string

In [0]:
a = 'A73,CD'

In [0]:
a[1] # a[1] 은 숫자 7이 아닌 문자열7

'7'

In [0]:
a = a + ', EFG'
a

'A73,CD, EFG'

In [0]:
# split() 메서드는 특정 separator를 기준으로 문자열을 분리하여 list 리턴
b = a.split(',')
print(b)

['A73', 'CD', ' EFG']

### 유용하게 사용되는 함수?
        type(), len(), size()

In [0]:
a = [ 10, 20, 30, 40, 50 ]
b = ( 10,20, 30, 40, 50)
c = { "KIM":90, "LEE":80 }
d = 'Seoul, Korea'
e = [ [100, 200], [300, 400], [500, 600]]

print(type(a), type(b), type(c), type(d), type(e))

print(len(a), len(b), len(c), len(d), len(e))

# print(size(e))  #len()과 size() 비교

<class 'list'> <class 'tuple'> <class 'dict'> <class 'str'> <class 'list'>
5 5 2 12 3

### list(), srt(), int()

In [0]:
a = 'Hello'
b = {"KIM":90, "LEE":80 }

print(list(a), list(b.keys()), list(b.values()), list(b.items()) )

['H', 'e', 'l', 'l', 'o'] ['KIM', 'LEE'] [90, 80] [('KIM', 90), ('LEE', 80)]